.bluetop {
  border-collapse: collapse;
  border-top: 3px solid #168;
  table-layout:fixed;
  width:100%;
}  

.bluetop img{
  width:100%;
  max-width:150px;
}
.bluetop th {
  color: #168;
  background: #f0f6f9;
  cursor:pointer;
}


.bluetop th:hover{
  background-color:#D8E2E7;
  transition:all 0.15s ease-in;

}
.bluetop th, .bluetop td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align:center;  
  word-break:break-all;
}
.bluetop th:first-child, .bluetop td:first-child {
  border-left: 0;
}
.bluetop th:last-child, .bluetop td:last-child {
  border-right: 0;
}

.filter{
  font-size:18px;
  padding:20px;
  border-radius:5px;
  margin-bottom:10px;
  width:30%;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border:1px solid #f0f6f9;
  color:#168;
}

.filter:focus{
  background-color: #f0f6f9;
  outline:none;
}

.keyword {
  padding:2px;
  background-color: #f7e600;
  color:black;
  font-weight: bold;
}